.landing{
    font-family:Arial,Helvetica,sans-serif;
    font-size:15px;
    line-height:1.5;
    font:15px/1.5 Arial,Helvetica,sans-serif;
    padding:0;
    margin:0;
    align-items:center;
    background-color:white;
    /* background-image:url('bb.jpg');
    background-repeat: repeat;
    background-size: 810px 810px;
    height: 100vh; */
    background: linear-gradient(-45deg, #e7b3a3, #e597b5, #7dbdd4, #85dac6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    justify-content: center;
 
      margin: 0!important;
      padding: 0!important;
    
  
}
div#root
{
  margin: 0!important;
  padding: 0!important;
  position: absolute;
  top:0px;
  overflow:hidden;
}

.landing
{
  overflow-y:scroll;
  position: relative;
  top:0px;
  height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.contain{
    width:80%;
    margin:auto;
    overflow:hidden;
    
}

.dark{
    padding:15px;
    background:#354245;
    margin-top:10px;
    margin-bottom:10px;
    color:#ffffff;

}

.bright{
  padding:15px;
  background:#f7bfe6;
  margin-top:10px;
  margin-bottom:5px;
  color:darkblue;
  font-size:20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e81d8d 3px solid;
}

.header a{
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
}
.header ul{
    margin:0;
    padding:0;
}

.header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

.header #branding{
    float:left;
}
.header #branding h1{
     margin:0; 
    padding:0;
    
}
.header nav{
    float:right;
    margin-top:5px;
}
.header .highlight, .header .current a{
    color:rgb(255, 0, 170);
    font-weight:bold;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* header .rotate .h1 img{
  position:absolute;
  top:50%;
  left:50%;
  right:50%;
  transform:translate(-50%,-50%);
  animation:myfirst 1.5s infinite linear;
}
@keyframes myfirst{
  0%{
    tranform:translate(-50%,-50%) rotate(0deg);
  }
  100%{
    tranform:translate(-50%,-50%) rotate(180deg);
  }
} */

.header a:hover{
    color:#cccccc;
    font-weight:bold;
}

#showcase p{
    font-size:100px;
    text-align:center;
}
#showcase h1{
    margin-top:150px;
    font-size:50px;
    margin-bottom:10px;
    text-align:center;
    color:rgb(3, 3, 110);
}
#showcase p{
    font-size:20px;
    color:black;
    font-weight:bold;
}
#showcase h2{
  font-size:40px;
  color:darkblue;
  font-weight:bold;
  
}
.glow{
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;

}
@keyframes glow{
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 
                 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

 #boxes{
    margin-top:20px;
    align-items:center;
    display: flex;
  justify-content: center;
}
/*
#boxes .box{
    float:left;
    width:30%;
    padding:10px;
    text-align:center;
}

#boxes .box img{
    width:350px;
} */


article#main-col{
    float:center;
    width:70%;
   

}
article#main-col h1{
    font-size:50px;
    color:darkblue;
    

}
.footer{
    padding:5px;
    margin-top:5px;
    color:white;
    background-color:#e81d83;
    text-align:center;
    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; */
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1D212B;
} */

.img-slider{
  position: relative;
  width: 800px;
  height: 500px;
  margin: 10px;
  background: #1D212B;
  align-items:center;
  display:flex;
  justify-content: center;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;

}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 50px 50px;
}

.img-slider .slide .info h2{
  color: rgb(8, 6, 6);
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: rgb(63, 2, 2);
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}
      


.scroll-down {
  margin-top:20px;
  z-index:99;
    height: 50px;
    width: 30px;
    border: 2px solid rgb(99, 5, 5);
    position: relative;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid black;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.7s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  





  .app{
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
    height:100vh;
    width:100%;
    }
    ul{
      display:block;
      width:100%;
      height:inherit;
    }
    ul{
      list-style-type:none;
    }
    .li:nth-child(1)
    {
      position:absolute;
      left:10%;
      height:30px;
      width:30px;
      background:rgba(255,255,255,.2);
    }
    .li:nth-child(2)
    {
      position:absolute;
      left:30%;
      height:45px;
      width:45px;
      background:rgba(255,255,255,.2);
    }
    .li:nth-child(3)
    {
      position:absolute;
      left:50%;
      height:70px;
      width:70px;
      background:rgba(255,255,255,.2);
    }
    .li:nth-child(4)
    {
      position:absolute;
      left:80%;
      height:20px;
      width:20px;
      background:rgba(255,255,255,.2);
    }
    .li{
      animation:animate 15s linear 1s infinite;
    }
    
    @keyframes animate{
      from{
        transform: translateY(+1500%) rotate(180deg)
      }
      to{
        transform: translateY(-150%)
          rotate(360deg)
      }
    }
    .con {
      width:auto;
      height:auto;
      min-width: 700px;
      min-height: 200px;
      background: #F95C3A;
      margin: 100px auto;
      border-radius: 85px 0px 85px 0px;
      -webkit-border-radius: 85px 0px 85px 0px;
      -moz-border-radius: 85px 0px 85px 0px;
      -o-border-radius: 85px 0px 85px 0px;
      -ms-border-radius: 85px 0px 85px 0px;
      box-shadow: 1px 2px 15px rgba(0,0,0,.1), 0px 1px 8px rgba(0,0,0,.5);
       border-bottom: 5px solid rgba(0,0,0,0.5);
      }
      
      .con .imageContainer {
      width: 130px;
      height: 120px;
      border-radius: 80px;
      -moz-border-radius: 80px;
      -ms-border-radius: 80px;
      -o-border-radius: 80px;
      -webkit-border-radius: 80px;
        
      border: 20px solid rgba(0,0,0,.2);
      box-shadow: inset 0px 1px 15px rgba(0,0,0,.9);
      -webkit-box-shadow: inset 0px 1px 15px rgba(0,0,0,.9);
      -moz-box-shadow: inset 0px 1px 15px rgba(0,0,0,.9);
      -ms-box-shadow: inset 0px 1px 15px rgba(0,0,0,.9);
      -o-box-shadow: inset 0px 1px 15px rgba(0,0,0,.9);
      background: rgba(0,0,0,.2);
      float: right;
      margin: 15px;
      }
      .con  h2 {
      color: #ddd;
      line-height: 85px;
      text-shadow: -2px -1px rgba(0,0,0,.4);
      }
      .con p {
      color: #ddd;
      padding: 0 22px;
      text-shadow: 1px 1px rgba(0,0,0,.3);
      }
      .about {
        position: relative;
        &::before,
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          border: 2px solid yellow;
          transition: all .25s ease-out;
        }
        &::before {
          background-color: yellow;
          top: -15px;
          left: -15px;
        }
        &::after {
          bottom: -15px;
          right: -15px;
        }
        &:hover {
          &::before {
            top: 15px;
            left: 15px;
          }
          &::after {
            bottom: 15px;
            right: 15px;
          }
        }
      }
      