@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --fontt-size: 2rem;
  --bgg-size: 9rem;
  --shadoww-color: #ff1c64;
}

.landing {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  align-items: center;
  background-color: white;
  /* background-image:url('bb.jpg');
    background-repeat: repeat;
    background-size: 810px 810px;
    height: 100vh; */
  <<<<<<< HEAD background-size: cover;
  =======background: linear-gradient(-45deg, #e7b3a3, #e597b5, #7dbdd4, #85dac6);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e height: 100vh;
  justify-content: center;

  margin: 0 !important;
  padding: 0 !important;
  <<<<<<< HEAD
}

=======
}

>>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e div#root {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

.landing {
  overflow-y: scroll;
  position: relative;
  top: 0px;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  <<<<<<< HEAD 50% {
    background-position: 100% 50%;
  }

  =======50% {
    background-position: 100% 50%;
  }

  >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e 100% {
    background-position: 0% 50%;
  }
}

.contain {
  <<<<<<< HEAD width: 80%;
  margin: auto;
  overflow: hidden;

  =======margin: auto 20px;
  overflow: hidden;
  >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e
}

.dark {
  padding: 15px;
  background: #91ddee;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  <<<<<<< HEAD=======>>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e
}

.bright {
  padding: 15px;
  background: #f7bfe6;
  margin-top: 10px;
  margin-bottom: 5px;
  color: darkblue;
  font-size: 20px;
  <<<<<<< HEAD font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  =======font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  background: black;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 70px;
  border-bottom: darkblue 3px solid;
}

>>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e .header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

<<<<<<< HEAD .header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e81d8d 3px solid;
}

.header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.header ul {
  margin: 0;
  padding: 0;
}

.header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

.header #branding {
  float: left;
}

.header #branding h1 {
  margin: 0;
  padding: 0;

}

.header nav {
  float: right;
  margin-top: 5px;
}

.header .highlight,
.header .current a {
  color: rgb(255, 0, 170);
  font-weight: bold;

  =======.header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }

  .header #branding {
    float: left;
  }

  .header #branding h1 {
    margin: 0;
    padding: 0;
  }

  .webtitle {
    font-family: "Permanent Marker", cursive;
  }

  .header nav {
    float: right;
    margin-top: 5px;
  }

  .header .highlight,
  .header .current a {
    color: rgb(255, 0, 170);
    font-weight: bold;
  }

  .highlight {
    font-family: "Smooch", cursive;
    font-size: 60px;
    margin: 15px;
  }

  body {
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #112c38;
  }

  .navul {
    margin: 0;
    margin-top: 8px;
    display: flex;
  }

  .navul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
  }

  .navul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 30px;
    font-family: "Courgette", cursive;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
  }

  .navul:hover li a {
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(5px);
  }

  .navul li a:hover {
    transform: scale(1.4);
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: #fff;
    >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e
  }

  .navul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff497c;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
  }

  .navul li a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
  }

  .rotate {
    animation: rotation 8s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }

  /* header .rotate .h1 img{
  position:absolute;
  top:50%;
  left:50%;
  right:50%;
  transform:translate(-50%,-50%);
  animation:myfirst 1.5s infinite linear;
}
@keyframes myfirst{
  0%{
    tranform:translate(-50%,-50%) rotate(0deg);
  }
  100%{
    tranform:translate(-50%,-50%) rotate(180deg);
  }
} */

  .header a:hover {
    color: #cccccc;
    font-weight: bold;
  }

  #showcase p {
    font-size: 100px;
    text-align: center;
  }

  <<<<<<< HEAD #showcase h1 {
    margin-top: 150px;

    =======#showcase h1 {
      margin-top: 50px;
      >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e font-size: 50px;
      margin-bottom: 10px;
      text-align: center;
      color: rgb(3, 3, 110);
    }

    <<<<<<< HEAD=======>>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e #showcase p {
      font-size: 20px;
      color: black;
      font-weight: bold;
    }

    <<<<<<< HEAD=======>>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e #showcase h2 {
      font-size: 40px;
      color: darkblue;
      font-weight: bold;
      <<<<<<< HEAD
    }

    =======
  }

  >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e .glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  <<<<<<< HEAD @keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #ee69c2, 0 0 30px #f1cece, 0 0 40px #f37f7f,
        0 0 50px #cbafd8, 0 0 60px #f1e2f8, 0 0 70px #e2d7e7;

      =======@keyframes glow {
        from {
          text-shadow: 0 0 10px #eeeeee, 0 0 20px #ee69c2, 0 0 30px #f1cece, 0 0 40px #f37f7f, 0 0 50px #cbafd8,
            0 0 60px #f1e2f8, 0 0 70px #e2d7e7;
          >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e
        }

        to {
          <<<<<<< HEAD text-shadow: 0 0 20px #eeeeee, 0 0 30px #f1d7e4, 0 0 40px #dfc8d3, 0 0 50px #f7e5ee,
            0 0 60px #e7c1d4, 0 0 70px #f1bed8, 0 0 80px #e9e2e6;
          =======text-shadow: 0 0 20px #eeeeee, 0 0 30px #f1d7e4, 0 0 40px #dfc8d3, 0 0 50px #f7e5ee, 0 0 60px #e7c1d4,
            0 0 70px #f1bed8, 0 0 80px #e9e2e6;
          >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e
        }
      }

      #boxes {
        margin-top: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      /*
#boxes .box{
    float:left;
    width:30%;
    padding:10px;
    text-align:center;
}

#boxes .box img{
    width:350px;
} */

      <<<<<<< HEAD article#main-col {
        float: center;
        width: 70%;


      }

      article#main-col h1 {
        font-size: 50px;
        color: darkblue;


      }

      =======article#main-col {
        float: center;
        width: 70%;
      }

      article#main-col h1 {
        font-size: 50px;
        color: darkblue;
      }

      >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e .footer {
        padding: 5px;
        margin-top: 5px;
        color: white;
        background-color: #e81d83;
        text-align: center;
        /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; */
      }

      .h1 {
        position: relative;
        font-family: "Montserrat", Arial, sans-serif;
        font-size: calc(1px + 2vw);
        font-weight: 700;
        color: #fff;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-shadow: 0 0 0.15em #1da9cc;
        user-select: none;
        white-space: nowrap;
        filter: blur(0.007em);
        animation: shake 2.5s linear forwards;
      }

      .h1 span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
        clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
      }

      .h1::before,
      .h1::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
      }

      .h1::before {
        animation: crack1 2.5s linear forwards;
        -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
      }

      .h1::after {
        animation: crack2 2.5s linear forwards;
        -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
        clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
      }

      @keyframes shake {

        <<<<<<< HEAD=======>>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e 5%,
        15%,
        25%,
        35%,
        55%,
        65%,
        75%,
        95% {
          filter: blur(0.018em);
          transform: translateY(0.018em) rotate(0deg);
        }

        10%,
        30%,
        40%,
        50%,
        70%,
        80%,
        90% {
          filter: blur(0.01em);
          transform: translateY(-0.018em) rotate(0deg);
        }

        20%,
        60% {
          filter: blur(0.03em);
          transform: translate(-0.018em, 0.018em) rotate(0deg);
        }

        45%,
        85% {
          filter: blur(0.03em);
          transform: translate(0.018em, -0.018em) rotate(0deg);
        }

        100% {
          filter: blur(0.007em);
          transform: translate(0) rotate(-0.5deg);
        }
      }

      @keyframes crack1 {

        <<<<<<< HEAD=======>>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e 0%,
        95% {
          transform: translate(-50%, -50%);
        }

        100% {
          transform: translate(-51%, -48%);
        }
      }

      @keyframes crack2 {

        <<<<<<< HEAD=======>>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e 0%,
        95% {
          transform: translate(-50%, -50%);
        }

        100% {
          transform: translate(-49%, -53%);
        }
      }

      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

      /* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1D212B;
} */

      .img-slider {
        position: relative;
        width: 800px;
        height: 360px;
        margin: 10px;
        <<<<<<< HEAD background: #1D212B;
        =======background: #1d212b;
        >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e align-items: center;
        display: flex;
        justify-content: center;
      }

      .img-slider .slide {
        z-index: 1;
        position: absolute;
        width: 100%;
        clip-path: circle(0% at 0 50%);
      }

      .img-slider .slide.active {
        clip-path: circle(150% at 0 50%);
        transition: 2s;
        transition-property: clip-path;
      }

      .img-slider .slide img {
        z-index: 1;
        width: 100%;
        border-radius: 5px;
      }

      .img-slider .slide .info {
        position: absolute;
        top: 0;
        padding: 50px 50px;
      }

      .img-slider .slide .info h2 {
        color: rgb(8, 6, 6);
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 2px;
      }

      .img-slider .slide .info p {
        color: rgb(63, 2, 2);
        background: rgba(0, 0, 0, 0.1);
        font-size: 16px;
        width: 60%;
        padding: 10px;
        border-radius: 4px;
      }

      .img-slider .navigation {
        z-index: 2;
        position: absolute;
        display: flex;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      }

      .img-slider .navigation .btn {
        background: rgba(255, 255, 255, 0.5);
        width: 12px;
        height: 12px;
        margin: 10px;
        border-radius: 50%;
        cursor: pointer;
      }

      .img-slider .navigation .btn.active {
        <<<<<<< HEAD background: #2696E9;
        =======background: #2696e9;
        >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      }

      @media (max-width: 820px) {
        .img-slider {
          width: 600px;
          height: 375px;
        }

        .img-slider .slide .info {
          padding: 10px 25px;
        }

        .img-slider .slide .info h2 {
          font-size: 35px;
        }

        .img-slider .slide .info p {
          width: 70%;
          font-size: 15px;
        }

        .img-slider .navigation {
          bottom: 25px;
        }

        .img-slider .navigation .btn {
          width: 10px;
          height: 10px;
          margin: 8px;
        }
      }

      @media (max-width: 620px) {
        .img-slider {
          width: 400px;
          height: 250px;
        }

        .img-slider .slide .info {
          padding: 10px 20px;
        }

        .img-slider .slide .info h2 {
          font-size: 30px;
        }

        .img-slider .slide .info p {
          width: 80%;
          font-size: 13px;
        }

        .img-slider .navigation {
          bottom: 15px;
        }

        .img-slider .navigation .btn {
          width: 8px;
          height: 8px;
          margin: 6px;
        }
      }

      @media (max-width: 420px) {
        .img-slider {
          width: 320px;
          height: 200px;
        }

        .img-slider .slide .info {
          padding: 5px 10px;
        }

        .img-slider .slide .info h2 {
          font-size: 25px;
        }

        .img-slider .slide .info p {
          width: 90%;
          font-size: 11px;
        }

        .img-slider .navigation {
          bottom: 10px;
        }
      }

      <<<<<<< HEAD=======>>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e .scroll-down {
        margin-top: 20px;
        z-index: 99;
        height: 50px;
        width: 30px;
        border: 2px solid rgb(99, 5, 5);
        position: relative;
        left: 50%;
        bottom: 20px;
        border-radius: 50px;
        cursor: pointer;
      }

      <<<<<<< HEAD=======>>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e .scroll-down::before,
      .scroll-down::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        height: 10px;
        width: 10px;
        transform: translate(-50%, -100%) rotate(45deg);
        border: 2px solid black;
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
      }

      <<<<<<< HEAD=======>>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e .scroll-down::before {
        top: 30%;
        animation-delay: 0.7s;
        /* animation: scroll-down 1s ease-in-out infinite; */
      }

      @keyframes scroll-down {
        0% {
          /* top:20%; */
          opacity: 0;
          <<<<<<< HEAD
        }

        30% {
          opacity: 1;
        }

        60% {
          opacity: 1;
        }

        100% {
          top: 90%;
          opacity: 0;
        }
      }






      .app {
        background-image: url(./images/bg_landscape.jpg);
        height: 100vh;
        width: 100%;
      }

      ul {
        display: block;
        width: 100%;
        height: inherit;
      }

      ul {
        list-style-type: none;
      }

      .li:nth-child(1) {
        position: absolute;
        left: 10%;
        height: 30px;
        width: 30px;
        background: rgba(255, 255, 255, .2);
      }

      .li:nth-child(2) {
        position: absolute;
        left: 30%;
        height: 45px;
        width: 45px;
        background: rgba(255, 255, 255, .2);
      }

      .li:nth-child(3) {
        position: absolute;
        left: 50%;
        height: 70px;
        width: 70px;
        background: rgba(255, 255, 255, .2);
      }

      .li:nth-child(4) {
        position: absolute;
        left: 80%;
        height: 20px;
        width: 20px;
        background: rgba(255, 255, 255, .2);
      }

      .li {
        animation: animate 15s linear 1s infinite;
      }

      @keyframes animate {
        from {
          transform: translateY(+1500%) rotate(180deg)
        }

        to {
          transform: translateY(-150%) rotate(360deg)
        }
      }

      .con {
        width: auto;
        height: auto;
        min-width: 1100px;
        min-height: 200px;
        background: linear-gradient(to bottom right, red, rgba(255, 0, 0, 0));
        ;
        margin: 100px auto;
        font-size: 20px;
        border-radius: 85px 0px 85px 0px;
        -webkit-border-radius: 85px 0px 85px 0px;
        -moz-border-radius: 85px 0px 85px 0px;
        -o-border-radius: 85px 0px 85px 0px;
        -ms-border-radius: 85px 0px 85px 0px;
        box-shadow: 1px 2px 15px rgba(0, 0, 0, .1), 0px 1px 8px rgba(0, 0, 0, .5);
        border-bottom: 5px solid rgba(0, 0, 0, 0.5);
      }

      .con .imageContainer {
        width: 130px;
        height: 120px;
        border-radius: 80px;
        -moz-border-radius: 80px;
        -ms-border-radius: 80px;
        -o-border-radius: 80px;
        -webkit-border-radius: 80px;

        border: 20px solid rgba(0, 0, 0, .2);
        box-shadow: inset 0px 1px 15px rgba(0, 0, 0, .9);
        -webkit-box-shadow: inset 0px 1px 15px rgba(0, 0, 0, .9);
        -moz-box-shadow: inset 0px 1px 15px rgba(0, 0, 0, .9);
        -ms-box-shadow: inset 0px 1px 15px rgba(0, 0, 0, .9);
        -o-box-shadow: inset 0px 1px 15px rgba(0, 0, 0, .9);
        background: rgba(0, 0, 0, .2);
        float: right;
        margin: 15px;
      }

      .con h2 {
        color: #ddd;
        line-height: 85px;
        text-shadow: -2px -1px rgba(0, 0, 0, .4);
      }

      .con p {
        color: #ddd;
        padding: 0 22px;
        text-shadow: 1px 1px rgba(0, 0, 0, .3);
      }

      .about {
        position: relative;

        &::before,
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          border: 2px solid yellow;
          transition: all .25s ease-out;
        }

        &::before {
          background-color: yellow;
          top: -15px;
          left: -15px;
        }

        &::after {
          bottom: -15px;
          right: -15px;
        }

        &:hover {
          &::before {
            top: 15px;
            left: 15px;
          }

          &::after {
            bottom: 15px;
            right: 15px;
          }
        }
      }

      =======
    }

    30% {
      opacity: 1;
    }

    60% {
      opacity: 1;
    }

    100% {
      top: 90%;
      opacity: 0;
    }
  }

  .blink-soft {
    color: white !important;
    animation: blinker 5s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .Title {
    z-index: 1;
    font-size: var(--fontt-size);
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    color: black;
    -webkit-filter: drop-shadow(0 0 30px var(--shadoww-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: calc(var(--bgg-size) * -1) bottom;
    text-rendering: optimizeLegibility;
    transition: linear 2s;
  }

  @import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

  .info {
    font-size: 20px !important;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #F77683 !important;
    //text-shadow : 0px 1px 0px white, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 0px #001135;
  }

  .info {
    text-shadow: -.030em .030em #FFF6E6, -.08em .08em #E7DCD7;
    margin: 0 60px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: linear-gradient(45deg,
        #7794ff,
        #44107A,
        #FF1361,
        #FFF800);
    animation: 3s shake infinite alternate;
  }

  @keyframes shake {
    0% {
      transform: skewX(-15deg);
    }

    5% {
      transform: skewX(15deg);
    }

    10% {
      transform: skewX(-15deg);
    }

    15% {
      transform: skewX(15deg);
    }

    20% {
      transform: skewX(0deg);
    }

    100% {
      transform: skewX(0deg);
    }
  }

  .Background {
    -webkit-background-clip: text;
    -webkit-text-fill-color: red;
    position: absolute;
    -webkit-filter: drop-shadow(0 0 30px #753200) !important;
  }

  .app {
    background: -webkit-linear-gradient(to left, #1f34a8, #1f34a8, #1f34a8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9fa6cf, #4b5cbb, #1f34a8);
    height: 100vh;
    width: 100%;
  }

  ul {
    display: block;
    width: 100%;
    height: inherit;
  }

  ul {
    list-style-type: none;
  }

  .li:nth-child(1) {
    position: absolute;
    left: 10%;
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0.2);
  }

  .li:nth-child(2) {
    position: absolute;
    left: 30%;
    height: 45px;
    width: 45px;
    background: rgba(255, 255, 255, 0.2);
  }

  .li:nth-child(3) {
    position: absolute;
    left: 50%;
    height: 70px;
    width: 70px;
    background: rgba(255, 255, 255, 0.2);
  }

  .li:nth-child(4) {
    position: absolute;
    left: 80%;
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.2);
  }

  .li {
    animation: animate 15s linear 1s infinite;
  }

  @keyframes animate {
    from {
      transform: translateY(+1500%) rotate(180deg);
    }

    to {
      transform: translateY(-150%) rotate(360deg);
    }
  }

  .con {
    width: auto;
    height: auto;
    min-width: 1100px;
    min-height: 200px;
    background: linear-gradient(to bottom right, red, rgba(255, 0, 0, 0));
    margin: 100px auto;
    font-size: 20px;
    border-radius: 85px 0px 85px 0px;
    -webkit-border-radius: 85px 0px 85px 0px;
    -moz-border-radius: 85px 0px 85px 0px;
    -o-border-radius: 85px 0px 85px 0px;
    -ms-border-radius: 85px 0px 85px 0px;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1), 0px 1px 8px rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  }

  .con .imageContainer {
    width: 130px;
    height: 120px;
    border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    -webkit-border-radius: 80px;

    border: 20px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 15px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: inset 0px 1px 15px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 0px 1px 15px rgba(0, 0, 0, 0.9);
    -ms-box-shadow: inset 0px 1px 15px rgba(0, 0, 0, 0.9);
    -o-box-shadow: inset 0px 1px 15px rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.2);
    float: right;
    margin: 15px;
  }

  .con h2 {
    color: #ddd;
    line-height: 85px;
    text-shadow: -2px -1px rgba(0, 0, 0, 0.4);
  }

  .con p {
    color: #ddd;
    padding: 0 22px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }

  .about {
    position: relative;

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      border: 2px solid yellow;
      transition: all 0.25s ease-out;
    }

    &::before {
      background-color: yellow;
      top: -15px;
      left: -15px;
    }

    &::after {
      bottom: -15px;
      right: -15px;
    }

    &:hover {
      &::before {
        top: 15px;
        left: 15px;
      }

      &::after {
        bottom: 15px;
        right: 15px;
      }
    }
  }

  main {
    font: 18px/1.25 "Nunito", sans-serif;
    margin: 0 auto;
    max-width: 60em;
    padding: 0 1em;

    article {
      background: rgba(0, 255, 0, 1);
      margin: 3em 1em;
      padding: 2em 3em;
      position: relative;

      &,
      &:before,
      &:after {
        mix-blend-mode: screen;
      }

      &:before,
      &:after {
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
      }

      &:before {
        background: rgba(255, 0, 0, 1);
        left: -1em;
        top: -1em;
      }

      &:after {
        background: rgba(0, 0, 255, 1);
        bottom: -1em;
        right: -1em;
      }

      p {
        padding-top: 30px;
        font-family: 'Merriweather', serif;
        font-size: 20px;
        color: black;
      }
    }
  }

  .thirteen h1 {
    position: relative;
    color: darkred;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0px;
    //text-transform: uppercase;
    width: 40%;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    border: 2px solid #222;
    padding: 5px 11px 3px 11px;
    font-family: 'Kaushan Script', cursive;
  }

  .thirteen h1:before,
  .thirteen h1:after {
    background-color: #e81d83;
    position: absolute;
    content: "";
    height: 20px;

    width: 20px;
    border-radius: 50%;
    bottom: 20px;
  }

  .thirteen h1:before {
    left: -30px;
  }

  .thirteen h1:after {
    right: -30px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

  .animate-charcter {
    width: 90%;
    margin: 50px;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    background-image: linear-gradient(-225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    font-size: 190px;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .box {
    position: relative;
    display: flex;
    left: 25%;
    right: 25%;
    width: 800px;
    height: 380px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(255, 255, 255);
  }

  .box::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 130%;
    background: linear-gradient(#00f59b, #7014f2);
    animation: animate 4s linear infinite;
  }

  .box::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: #03071e;
    border-radius: 10px;
  }


  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  >>>>>>>0c8a24a2ece35e4da7c3d1f4e82dc139dfff2e2e