/* href Transition */
html {
  scroll-behavior: smooth;
  height: 100%;
}
div#root {
  // width: 100vw;
  overflow: hidden;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  color: #666;
  text-align: center;
  // width:97vw !important;
  max-width: 100% !important;
}
*, *:before, *:after {
  box-sizing: border-box !important;
}
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.container {
  height: 5vh;
  display: block;
  flex-direction: row;
  font-size: 35px;
  font-family: "Lobster", cursive;
  margin: 0 !important;
}
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.nav-head {
  font-size: 65px !important;
  font-family: "Permanent Marker", cursive !important;
  position: fixed;
  left: 5vw;
}
.navbar-nav {
  margin-left: 0 !important;
  position: relative;
  left: 80vw;
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 15vw;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* PARALLAX START */
.parallax1 {
  background: url("https://images.pexels.com/photos/1092063/pexels-photo-1092063.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  min-height: 110vh;
}

.parallax2 {
  background: url("https://images.pexels.com/photos/1516704/pexels-photo-1516704.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  min-height: 80vh;
}

.parallax3 {
  background: url("https://images.pexels.com/photos/1105766/pexels-photo-1105766.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  min-height: 60vh;
}

.parallax4 {
  background: url("https://images.pexels.com/photos/116720/pexels-photo-116720.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: 0 -231px !important;
  min-height: 80vh;
}

.parallax5 {
  background: url("https://images.pexels.com/photos/1661004/pexels-photo-1661004.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  min-height: 80vh;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4,
.parallax5 {
  position: relative;
  opacity: 0.7;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* PARALLAX END */

.heading {
  position: absolute;
  color: white;
  font-size: 400%;
  top: 15%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0 0 10px black;
}

.heading-sm {
  position: absolute;
  top: 45%;
  width: 100%;
  color: white;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 16px black;
  text-align: center;
}

h1,
.heading {
  text-align: center;
}
.border {
  background-color: black;
  padding: 5px;
  text-align: center;
}

.two-col {
  float: left;
  width: 42%;
  padding: 0 4%;
  text-align: left;
}

#contact-header {
  background-color: #323232;
  color: white;
}

section {
  overflow: auto;
  padding: 50px 80px;
}

.section1 {
  padding: 15px 80px;
}

.dark {
  overflow: auto;
  padding: 50px 80px;
  background-color: #323232;
  color: #f2f2f2;
}

.form {
  border-radius: 7px;
  padding: 30px;
}

#form-content {
  transition: 0.5s;
}

#form-content:hover {
  -webkit-box-shadow: 0px 5px 13px 2px rgba(71, 70, 71, 0.76);
  -moz-box-shadow: 0px 5px 13px 2px rgba(71, 70, 71, 0.76);
  box-shadow: 0px 5px 13px 2px rgba(71, 70, 71, 0.76);
}

.group {
  position: relative;
  margin-bottom: 45px;
}

textarea {
  resize: none !important;
}

input,
textarea {
  background: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus,
textarea:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

textarea:focus ~ label,
textarea:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM INPUT BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #03588c;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

textarea:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.fixed-top {
  transition: background-color 500ms;
}

.fixed-top.scrolled {
  background-color: #fff;
  color: black;
}
* {
  box-sizing: border-box;
}
.article {
  margin: 30px;
  padding: 12px;
  background: none;
  border-radius: 5px;
}
.image {
  background: silver;
  width: 40vw;
  height: 60vh;
  border-radius: 5px;
  padding: 20px;
  color: #efefef;
  font-size: 8rem;
  &.rights {
    float: right;
    margin-left: 20px;
  }
  &.lefts {
    float: left;
    margin-right: 30px;
  }
}
.content {
  padding: 0 20px;
  color: white;
  .headline {
  }
}

//ClearFix
.group {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
#slide-image-1 {
  background-image: url(./images/dashboard.jpeg);
}
#slide-image-2 {
  background-image: url(./images/calendar.jpeg);
}
#slide-image-3 {
  background-image: url(./images/addproject.jpeg);
}
#slide-image-4 {
  background-image: url(./images/graph.jpeg);
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 80vw;
  height: 70vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: 50vw 100%;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

#features-column {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#features-column {
  display: flex;
  flex-direction: row;
}

#heading {
  width: auto;
}
.feature {
  max-width: 100%;
}
#feature-block {
  display: flex;
  flex-direction: row;
}
.section1 {
  padding: 0 !important;
}

#feature-column {
  margin-right: 24px;
  flex-grow: 1;
    flex-basis: 0;
}

#content {
  width: 50vw;
  margin-top: -100px;
}

.h-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #121127;
}

.h-5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 170%;
  color: #444bd3;
}

.h-6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #121127;
  margin-bottom: 10px;
}

.body-mid {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #7a7a86;
}

.body-small {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #7a7a86;
}

.primary-button {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: white;
  background-color: #444bd3;
  border: none;
  border-radius: 6px;
  padding: 8px 24px;
  margin-top: 15px;
  margin-bottom: 64px;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #20268f;
}

// #feature-icon {
//   margin-bottom: -10px;
// }

#image {
  justify-content: center;
  align-items: center;
  width: 40vw;
}
.about-img {
  max-width: 90%;
}
.logo
{
  position: fixed;
  height:70px;
  width:120px;
  left:-1.5vw;
}

@media (max-width: 768px) {
  .logo
  {
    left:85vw;
  }
  .container {
    height: 10vh;
  }
  .heading {
    font-size: 250%;
  }
  .nav-head {
    left: 10vw;
    top: 5px;
    font-size: 60px !important;
  }
  .heading-sm {
    font-size: 180%;
  }

  .two-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .parallax4 {
    background-attachment: scroll;
    min-height: 21%;
  }
  .animate-charcter {
    // font-size: 190px;
  }
}
@media (max-width: 500px) {
  .features
  {
    max-width: 100%;
  }
  #features-column {
    flex-direction: column;
    padding-top: 100px;
  }
  #content {
    margin-top: 0;
    width: 100vw;
  }
  #image {
    width: 100vw;
  }
  .nav-head {
    left: 20vw;
    top: 5px;
    font-size: 50px !important;
  }
}
