* {
    margin: 0;
    padding: 0;
  }
 
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .login {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: aliceblue;
    align-items: center;
    background-image: url("login\ bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  
  .container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: inline-flex;
    margin: 0 auto;
    border-radius: 5px 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  
  #square {
    
    margin-top: 80px;

    display: flex;
    min-width: 400px;
    margin-left: 800px;
    min-height: 400px;
    margin-bottom: 50px;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in;
   /* box-shadow: 3px 3px 5px #e91e63;*/
  }
  
  .front,
  .right,
  .left {
    width: 100%;
    height: 500px;
    padding: 40px;
    display: flex;
    border-radius: 5px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: grey;
    background-image: linear-gradient(45deg, #e91e63, #ffa59e);
    box-shadow: 3px 3px 5px #e91e63;
  }
  
  .front {
    transform: translateZ(50px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(50px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(50px);
  }
  
  .actions button {
    border: 0;
    outline: none;
    font-size:20px;
    min-height: 30px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: aqua;
    margin-top:10px;
  }
  
  .actions button:hover
  {
   background-color:#e91e63; outline:none;  border-radius: 2px; color:#f1f1f1; border:1px solid #f1f1f1;
  }
  
  .container h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  
  .container form {
    width: 100%;
    /*display: block;*/
    
  }
  
  .container form input,
  .container form button,
  .container form h5 {
    margin-bottom: 15px;
  }
  
  .container form input {
    border: 0;
    padding: 10px 8px;
    min-height: 40px;
    font-size: 20px;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .container form button {
    margin-left: 100px;
    border: 0;
    padding: 10px 0;
    outline: none;
    min-height: 30px;
    width:100px;
    font-size: 20px;
    border-radius: 4px;
    background-color: aqua;
  }
  .container form button:hover
  {
   background-color:#e91e63; outline:none;  border-radius: 2px; color:#f1f1f1; border:1px solid #f1f1f1;
  }
  
  #frontSide {
    display: none;
  }
  
  .container .actions {
    display:flex;

  }
  
  .container .actions button {
    margin-right: 10px;
  }
  #gender
  {
    margin: 10px !important;
    min-height: 0px !important;
  }
  @media (min-width: 600px) {
    .container {
      width: 700px;
      padding: 50px 100px;
      height: 700px;
      /*background-image: linear-gradient(to top, #ce5b0e, #f7a240, #d8d989);*/
    }
  }
  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
}

.background span {
    width: 14vmin;
    height: 14vmin;
    border-radius: 14vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 44;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 65%;
    left: 54%;
    animation-duration: 43s;
    animation-delay: -53s;
    transform-origin: -10vw 8vh;
    box-shadow: 28vmin 0 3.6942249987533495vmin currentColor;
}
.background span:nth-child(1) {
    color: #00ffff;
    top: 74%;
    left: 4%;
    animation-duration: 65s;
    animation-delay: -57s;
    transform-origin: 6vw 5vh;
    box-shadow: -28vmin 0 3.598531097306709vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 92%;
    left: 38%;
    animation-duration: 11s;
    animation-delay: -48s;
    transform-origin: -24vw -4vh;
    box-shadow: -28vmin 0 3.6212258242005673vmin currentColor;
}
.background span:nth-child(3) {
    color: #00ffff;
    top: 41%;
    left: 62%;
    animation-duration: 14s;
    animation-delay: -19s;
    transform-origin: 21vw 20vh;
    box-shadow: -28vmin 0 3.604696407033032vmin currentColor;
}
.background span:nth-child(4) {
    color: #00ffff;
    top: 1%;
    left: 53%;
    animation-duration: 34s;
    animation-delay: -55s;
    transform-origin: 19vw -7vh;
    box-shadow: -28vmin 0 4.002367465531421vmin currentColor;
}
.background span:nth-child(5) {
    color: #00ffff;
    top: 30%;
    left: 21%;
    animation-duration: 12s;
    animation-delay: -40s;
    transform-origin: -2vw -5vh;
    box-shadow: 28vmin 0 3.9246808949787737vmin currentColor;
}
.background span:nth-child(6) {
    color: #00ffff;
    top: 53%;
    left: 11%;
    animation-duration: 13s;
    animation-delay: -57s;
    transform-origin: -10vw 11vh;
    box-shadow: 28vmin 0 4.236436354077277vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 21%;
    left: 17%;
    animation-duration: 23s;
    animation-delay: -57s;
    transform-origin: -19vw -6vh;
    box-shadow: 28vmin 0 4.1183878497522395vmin currentColor;
}
.background span:nth-child(8) {
    color: #E45A84;
    top: 77%;
    left: 44%;
    animation-duration: 26s;
    animation-delay: -52s;
    transform-origin: 14vw 23vh;
    box-shadow: 28vmin 0 3.9680004671886238vmin currentColor;
}
.background span:nth-child(9) {
    color: #E45A84;
    top: 38%;
    left: 30%;
    animation-duration: 38s;
    animation-delay: -35s;
    transform-origin: -6vw -24vh;
    box-shadow: 28vmin 0 3.9815927835346576vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 52%;
    left: 56%;
    animation-duration: 55s;
    animation-delay: -6s;
    transform-origin: 4vw 16vh;
    box-shadow: -28vmin 0 4.436246358860372vmin currentColor;
}
.background span:nth-child(11) {
    color: #00ffff;
    top: 71%;
    left: 47%;
    animation-duration: 25s;
    animation-delay: -26s;
    transform-origin: -13vw -6vh;
    box-shadow: 28vmin 0 3.539305149268692vmin currentColor;
}
.background span:nth-child(12) {
    color: #00ffff;
    top: 21%;
    left: 78%;
    animation-duration: 32s;
    animation-delay: -13s;
    transform-origin: 3vw 6vh;
    box-shadow: 28vmin 0 3.711665362636064vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 8%;
    left: 40%;
    animation-duration: 59s;
    animation-delay: -15s;
    transform-origin: 6vw 14vh;
    box-shadow: 28vmin 0 3.744365690458584vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 94%;
    left: 40%;
    animation-duration: 53s;
    animation-delay: -50s;
    transform-origin: 13vw 17vh;
    box-shadow: 28vmin 0 3.72056650594856vmin currentColor;
}
.background span:nth-child(15) {
    color: #E45A84;
    top: 44%;
    left: 72%;
    animation-duration: 22s;
    animation-delay: -14s;
    transform-origin: -6vw 1vh;
    box-shadow: -28vmin 0 3.658651351628132vmin currentColor;
}
.background span:nth-child(16) {
    color: #00ffff;
    top: 17%;
    left: 42%;
    animation-duration: 56s;
    animation-delay: -56s;
    transform-origin: -23vw -8vh;
    box-shadow: -28vmin 0 3.9211424697521706vmin currentColor;
}
.background span:nth-child(17) {
    color: #FFACAC;
    top: 18%;
    left: 45%;
    animation-duration: 20s;
    animation-delay: -47s;
    transform-origin: -6vw 12vh;
    box-shadow: 28vmin 0 3.704568814833231vmin currentColor;
}
.background span:nth-child(18) {
    color: #00ffff;
    top: 6%;
    left: 65%;
    animation-duration: 62s;
    animation-delay: -3s;
    transform-origin: 14vw 23vh;
    box-shadow: -28vmin 0 3.783028250530407vmin currentColor;
}
.background span:nth-child(19) {
    color: #00ffff;
    top: 36%;
    left: 43%;
    animation-duration: 54s;
    animation-delay: -25s;
    transform-origin: 11vw -15vh;
    box-shadow: -28vmin 0 4.213445644311558vmin currentColor;
}
.background span:nth-child(20) {
    color: #E45A84;
    top: 20%;
    left: 42%;
    animation-duration: 27s;
    animation-delay: -37s;
    transform-origin: -4vw -10vh;
    box-shadow: -28vmin 0 3.822812710041336vmin currentColor;
}
.background span:nth-child(21) {
    color: #E45A84;
    top: 47%;
    left: 99%;
    animation-duration: 45s;
    animation-delay: -11s;
    transform-origin: -16vw 8vh;
    box-shadow: -28vmin 0 4.481445444421106vmin currentColor;
}
.background span:nth-child(22) {
    color: #FFACAC;
    top: 26%;
    left: 16%;
    animation-duration: 41s;
    animation-delay: -29s;
    transform-origin: 11vw -12vh;
    box-shadow: 28vmin 0 3.8515547309404097vmin currentColor;
}
.background span:nth-child(23) {
    color: #00ffff;
    top: 64%;
    left: 38%;
    animation-duration: 38s;
    animation-delay: -38s;
    transform-origin: 6vw -13vh;
    box-shadow: 28vmin 0 4.28438585690645vmin currentColor;
}

